.container-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.text-logo {
  font-size: 60px;
}

.text-logo-one-part {
  color: #4E41F0;
}

.text-logo-two-part {
  color: #E4E7FC;
}
